{:component/type      [:endpoint-autocheck :v-1.0.0]
 :component/system?   true
 :component/namespace :ep-acheck
 ;;-----------------------------------------;;
 ;;-----------------------------------------;;
 :component/sub-components
 {:ep-acheck/db     #include "./components/web-db-mongo.edn"
  :ep-acheck/server #include "./components/web-server.edn"
  :ep-check/state   #include "./components/state.edn"}
 ;;-----------------------------------------;;
 }
